# Python
__pycache__/
*.pyc
*.pyo

# Django
db.sqlite3
*.log
staticfiles/
media/

# Секреты
.env
secrets.py

# Import results
import_result*.xlsx
fix_manual.py

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/